.header
  .header__bar
    %h1.topname
      V-List
    .icons
      .icons__post
        ログイン
      .icons__post
        動画登録

%form.form
  %input.form__content{type: "text"}
  %button.form__submit{type: "submit"}
    検索
.contents
  .contents__post
    .more
    %p title
    %span.name
      iida
